.block_autocomplete{
    width: 100%;
    display: none;
    margin: 0% 8% 40% 8%;
    max-height: 400px;
}

.block_autocomplete--active{
    display: flex;
    align-items: start;
}

.block-datalist{
    margin-top: 50px;
    width: 83.5%;
    max-height: 400px;
    overflow-y: scroll;
    /* overflow-x: scroll; */
    position: absolute;
}

.form-control{
    width: 100%;
    min-height: 50px;
}

li{
    color: #fff;
    padding: 5px 5px;
    transition: 0.6s;
    cursor: pointer;
}

li:hover{
    color: rgb(117, 62, 62);
}

@media(max-width: 1100px){
    .block_autocomplete{
        margin: 0% 8% 60% 8%;
    }
}

@media(max-width: 780px){
    .block_autocomplete{
        margin: 0% 8% 90% 8%;
    }
}

@media(max-width: 450px){
    .block_autocomplete{
        margin: 0% 8% 220% 8%;
    }
}